<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--
    namespace 为名称空间
-->
<mapper namespace="top.taiht.mapper.article.ArticleMapper">

<resultMap id="userResultMap" type="Article">
    <result column="a_id" property="aID"/>
    <result column="a_title" property="aTitle"/>
    <result column="a_author" property="aAuthor"/>
    <result column="a_time" property="aTime"/>
    <result column="a_content" property="aContent"/>
    <result column="a_cover" property="aCover"/>
    <result column="a_type" property="aType"/>
</resultMap>

    <!--添加新闻-->
    <insert id="insertNews" useGeneratedKeys="true" keyProperty="aID">
        INSERT INTO article(a_title, a_author, a_time, a_content, a_cover, a_type)
        VALUES(#{aTitle}, #{aAuthor}, #{aTime}, #{aContent}, #{aCover}, 0)
    </insert>
</mapper>