/*  居中  */
.content{
    margin: 0 auto;
}
h3{
    text-align: center;
}
div{
    text-align: center;
}
/*  ul,li样式  */
ul,li {
    list-style: none;
    margin: 0px;
    padding: 0px;
}
/*  固定宽度  */
.content {
    width: 100%;
}
/*  背景颜色  */
.content #div0,#div1 {
    background: #b0d6f5;
}

#div0 ul,#div1 ul {
    padding-left: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
}

/*  登录&注册样式  */
#ul1 li {
    width: 50%;
    height: 38px;
    line-height: 38px;
    text-align: center;
    font-weight: bold;
    float: left;
}
/*  登录&注册背景色  */
.cur {
    background: #09b1ec;
    color: black;
}
.form-group{
    text-align: center;
}